server:
  port: 8085

spring:
  application:
    name: microservice-cart

  datasource:
    url: jdbc:mysql://localhost:3306/goat_cart?useSSL=false&serverTimezone=UTC
    username: root
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
