server:
  port: 8082

spring:
  application:
    name: microservice-product

  cloud:
    config:
      enabled: false  # Desactivamos Config Server

  datasource:
    url: jdbc:mysql://localhost:3306/goat_product?useSSL=false&serverTimezone=UTC
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
