server:
  port: 9090

spring:
  application:
    name: msvc-course

  datasource:
    url: jdbc:postgresql://localhost:5432/courseDb
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
