server:
  port: 8080

spring:
  application:
    name: microservice-gateway

  # Desactivamos Config Server
  cloud:
    config:
      enabled: false

    gateway:
      discovery:
        locator:
          enabled: true  # Permite que Gateway descubra servicios automáticamente en Eureka

      # Definimos rutas explícitas (opcional, aunque discovery locator ya permite enrutar automáticamente)
      routes:
        - id: auth-service
          uri: lb://MICROSERVICE-AUTH
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: product-service
          uri: lb://MICROSERVICE-PRODUCT
          predicates:
            - Path=/api/products/**
          filters:
            - StripPrefix=1

        - id: cart-service
          uri: lb://MICROSERVICE-CART
          predicates:
            - Path=/api/cart/**
          filters:
            - StripPrefix=1

        - id: order-service
          uri: lb://MICROSERVICE-ORDER
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=1

# Configuración de Eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    # Registramos este Gateway en Eureka para poder monitorearlo
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
